background
  starttime
    year 2009
    month 08
    day 04
    hour 00
    minute 00
    second 00
  - for(var i=0;i<n.length -1 ;i++)
    p #{i}
	static
	  duration 1795.0
	  file #{n[i]}
	transition
	  duration 5.0
	  from #{n[i]}
	  to #{n[i+1]}

