<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Express + Browserify.</title>
</head>
<body>
<main role="main"></main>

<script src="js/bundle.js"></script>
<script src="//localhost:9091"></script>
</body>
</html>